<!DOCTYPE html>
<html>
<head>
<title>Test Your Violin Scales!</title>
</head>
<body>
<center>
<h1>Test Your Violin Scales!</h1>
<h2>Two Octave Major Scales</h2>
<form action="/audio" method="post">
  <input type="radio" id="fmajor" name="scale" value= fmajor> F Major 
  <input type="radio" id="cmajor" name="scale" value= cmajor> C Major
  <input type="radio" id="gmajor" name="scale" value= gmajor> G Major
  <input type="radio" id="dmajor" name="scale" value= dmajor> D Major
  <input type="radio" id="amajor" name="scale" value= amajor> A Major
  <input type="radio" id="emajor" name="scale" value= emajor> E Major
  <input type="radio" id="bmajor" name="scale" value= bmajor> B Major
  <input type="radio" id="b♭major" name="scale" value= b♭major> B♭ Major
  <input type="radio" id="e♭major" name="scale" value= e♭major> E♭ Major
  <input type="radio" id="a♭major" name="scale" value= a♭major> A♭ Major
  <input type="radio" id="d♭major" name="scale" value= d♭major> D♭ Major
  <br><br><br>
  <input type="radio" id="ascending" name="direction" value= ascending> Ascending
  <input type="radio" id="descending" name="direction" value= descending> Descending
  <br><br><br>
  <input type="submit" value="Confirm">

</form>

</center>

</body>
</html>     